* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    color: rgb(238, 238, 238);
  }

body {
    overflow-x: hidden;
    background-color: rgb(22, 22, 36);
    transition-duration: 0.5s;
  }

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 110px;
}

nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav .logo .nav__logo {
    margin-right: 25px;
    transform: scale(3);
    color: #5344df;
}

nav .logo h1 {
    font-size: 38px;
    margin-bottom: 5px;
    font-family: "Righteous", cursive;
    background: linear-gradient(266.78deg, #5344df 8.99%, #4e86fe 59.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.button {
    padding: 12px 40px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    background: linear-gradient(270deg, #5344df 0%, #4e86fe 100%);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .button:hover {
    box-shadow: -1px 2px 125px -12px rgba(89, 89, 89, 0.9);
    transform: scale(1.05);
  }

  .input_div {
    display: flex;
    position: relative;
  }
  .input_div span {
    background-color: #5344df;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    position: absolute;
    top: 7px;
    left: 7px;
  }
  .input_div span i {
    font-size: 18px;
    color: white;
  }
  .input_div input {
    font-size: 18px;
    padding: 13px 60px;
    border-radius: 50px;
    width: 100%;
    border: 3px solid #5344df;
    background-color: transparent;
  }
  

header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
}

header h1 {
    font-size: 88px;
    font-weight: bold;
    line-height: 110px;
}

header h1 span {
    background: linear-gradient(266.78deg, #5344df 8.99%, #4e86fe 59.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

header p {
    margin: 15px 0 50px;
    font-size: 18px;
    line-height: 32px;
    width: 800px;
}

header .input_div {
    width: 750px;
}

footer {
    text-align: center;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer a {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin: 0 4px 0 6px;
}

footer img {
    width: 25px;
}

@media screen and (max-width: 1050px) {
    header {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 78px;
        font-weight: bold;
        line-height: 100px;
    }

    header h1 span {
        background: linear-gradient(266.78deg, #5344df 8.99%, #4e86fe 59.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    header p {
        margin: 15px 0 50px;
        font-size: 16px;
        line-height: 30px;
        width: 720px;
    }

    header .input_div {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    header {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 68px;
        font-weight: bold;
        line-height: 80px;
    }

    header h1 span {
        background: linear-gradient(266.78deg, #5344df 8.99%, #4e86fe 59.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    header p {
        margin: 15px 0 50px;
        font-size: 16px;
        line-height: 30px;
        width: 90%;
    }

    header .input_div {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        height: 100px;
    }

    nav .logo {
        display: flex;
        align-items: center;
    }

    nav .logo img {
        margin-right: 15px;
        width: 32px;
    }

    nav .logo h1 {
        font-size: 32px;
        margin-bottom: 5px;
        font-family: "Righteous", cursive;
    }

    header {
        width: 95%;
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    header h1 {
        font-size: 42px;
        font-weight: bold;
        line-height: 55px;
    }

    header h1 span {
        background: linear-gradient(266.78deg, #5344df 8.99%, #4e86fe 59.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    header p {
        margin: 15px 0 50px;
        font-size: 14px;
        line-height: 30px;
        width: 95%;
    }

    header .input_div {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .input_div button {
        margin-top: 20px;
    }

    footer {
        text-align: center;
    }

    footer p {
        display: flex;
        justify-content: center;
        margin: 15px 0;
    }

    footer a {
        font-weight: bold;
        text-decoration: underline;
        display: flex;
        align-items: center;
        margin: 0 4px 0 6px;
    }

    footer img {
        width: 20px;
    }
}